<h1>
    <a href="{{ path('article-detail', {id: article.id}) }}">{{ article.title }}</a>
</h1>
<div>
    <time datetime="{{ article.publishedAt|date('c') }}">{{ article.publishedAt|date }}</time>
</div>
<p>{{ article.content }}</p>
